.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 4rem 3rem 3rem;
  font-size: 3rem;

  &__settings {
    margin-bottom: 6rem;

    &-input {
      width: 100%;
      padding: 1rem;
    }
  }

  &__heading {
    //

    &-smaller {}
  }

  &__paragraph {
    margin-bottom: 6rem;
  }

  &__button {
    padding: 4rem;
    border: .5rem solid $white;
    border-radius: 1rem;
    outline: none;
    font-size: 4rem;
    text-transform: uppercase;
    cursor: pointer;
    background: $gray;
    color: $white;
  }

  &__status {
    width: 100%;
    padding: .5rem;
    border-bottom: .5rem solid $white;
    text-align: center;
    background: $gray;
    position: fixed;
    top: 0;
    left: 0;
  }

  &__commissioner {
    color: $blue;
  }

  &__mafioso {
    color: $red;
  }
}
